defaults:
  &defaults
  macos:
    xcode: "11.7.0"
  shell: /bin/bash --login -eo pipefail
aliases:
  - &cache-pull
    keys:
      - gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      - gem-cache-v1-{{ arch }}-{{ .Branch }}
      - gem-cache-v1
  - &cache-push
    key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
    paths:
      - vendor/bundle
  - &prepare |
    git submodule update --init --recursive
    sudo gem install bundler
    bundle config set path 'vendor/bundle'
    bundle install
  - &filter-only-main
    branches:
      only:
        - main

version: 2
jobs:
  carthage:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *cache-pull
      - run: *prepare
      - save_cache: *cache-push
      - run:
          command: carthage build --no-skip-current --platform macos,ios,tvos,watchos
          no_output_timeout: 60m

workflows:
  version: 2
  pr:
    jobs:
      - carthage
  nightly:
    jobs:
      - carthage
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters: *filter-only-main
